---
interface Props {
	createOption?: boolean;
}

const { createOption = false } = Astro.props;
---

<div class="my-6">
	<h2 class="text-2xl font-semibold tracking-tight scroll-m-20">
		Promote User to Admin
	</h2>
	<p class="mt-4 leading-7 text-muted-foreground">
		Register via the web UI at your server URL, then promote the user to
		admin:
	</p>
	{createOption ? (
		<>
			<p class="mt-4 leading-7 text-muted-foreground">
				Alternatively, create a new admin user directly:
			</p>
			<pre class="my-6 overflow-x-auto rounded-md bg-muted p-4">
				<code class="text-sm text-foreground dark:text-muted-foreground">
sudo ./bedrud user create --email admin@example.com --password secret --name "Admin"
sudo ./bedrud user promote --email admin@example.com</code
				>
			</pre>
		</>
	) : (
		<pre class="my-6 overflow-x-auto rounded-md bg-muted p-4">
			<code class="text-sm text-foreground dark:text-muted-foreground">
sudo ./bedrud user promote --email admin@example.com</code
			>
		</pre>
	)}
</div>
